
@{
    ViewBag.Title = "Retirees";
    Layout = "~/Views/Shared/_MainView.cshtml";
}

<section class="content-header">

</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h2 class="box-title">All Retired Employees</h2>
                </div>

                <div class="box-body">
                    <table id="Table" class="table table-bordered table-hover" style="width:100%">
                        <thead>
                            <tr>
                                <th>Employee Name</th>
                                <th>Position</th>
                                <th>Date Hired</th>
                                <th>Date Retired</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#Table").DataTable({
                ajax: {
                    url: "/api/alphalist/allarchives/",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "id",
                        render: function (data, type, alphalist) {
                            return "<a href='/alphalist/ATDetails/" + alphalist.id + "'>" + alphalist.firstName + " " + alphalist.middleName + " " + alphalist.lastName + "</a>";
                        }
                    },
                    {
                        data: "presentPosition"
                    },
                    {
                        data: "id",
                        render: function (data, type, alphalist) {
                            var date = alphalist.dateOfHire;
                            var format = "MM/DD/YYYY";
                            return moment(date).format(format);
                        }
                    }
                ]
            });
        });
    </script>
}