@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_MainView.cshtml";
}

<section class="content-header">
    
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="col-xs-6">
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">Division</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <canvas id="pieChart1"></canvas>
                    </div>
                </div>
            </div>
            
            <div class="col-xs-6">
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">Active / Vacant</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <canvas id="pieChart2"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-xs-2"></div>
            <div class="col-xs-8">
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">Division</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <canvas id="pieChart3"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-xs-2"></div>
        </div>
    </div>
</section>

@section scripts
{
    <script src="~/Scripts/Charts/pie.js"></script>
}

